body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

a:link {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #565656;
    text-decoration: underline;
    background-color: transparent;
}

#navBar {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    line-height: 25px;
}

.navBarLeft {
    float: left;
    margin: 8px;
    padding: 10px 15px;
}

.leftNavLink {
    margin: 8px;
}

.navBarRight {
    display: flex;
    float: right;
    margin: 2px;
    padding: 10px 15px;
}

.rightNavLink {
    margin: 8px;
}

.signInButton {
    display: inline-flex;
    line-height: 28px;
    border: solid 1px;
    padding: 5px 20px 5px 20px;
    margin: 0 20px;
    border-radius: 2px;
    border-color: #4285f4;
    background: -moz-linear-gradient(top, #4387fd, #4683ea);
    color: #ffffff;
    font-weight: bold;
}

#logo {
    position: absolute;
    top: 27%;
    left: 48%;
    margin-top: -50px;
    margin-left: -100px;
}

#magGlass {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 270px;
    left: -265px;
}

.searchBar {
    margin: 5px auto;
    width: 560px;
    height: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color: #f2f2f2;
    background-color: #ffffff;
    position: relative;
    top: 310px;
    font-size: 16px;
    padding: 5px;
}

#buttons {
    text-align: center;
    position: relative;
    top: 300px;
}

.searchButton {
    border: solid 1px;
    margin: 0 10px;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #f2f2f2;
    color: #5F6368;
    border-color: #f2f2f2;
    border-radius: 4px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    border: solid 1px;
    border-color: #f2f2f2;
    font-size: 14px;
    background-color: #f2f2f2;
    line-height: 25px;
}

#leftFooter {
    padding: 10px 15px;

}

.leftFootLink {
    margin-right: 15px;
    color: #5F6368;
}

#rightFooter {
    padding: 10px 15px;

}

.rightFootLink {
    margin: 0 10px;
    color: #5F6368;
}