body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

a:link {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #565656;
    text-decoration: underline;
    background-color: transparent;
}

#navBarLeft {
    float: left;
    margin-left: 8px;

}

#navBarRight {
    float: right;
    margin-right: 8px;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    display: flex;
}

li {
    padding: 10px;
}

#logo {
    position: absolute;
    top: 27%;
    left: 48%;
    margin-top: -50px;
    margin-left: -100px;
}

/*Resize the wrap to see the search bar change!*/
#wrap {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchBar {
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 6px;
    height: 30px;
    border-radius: 40px 40px 40px 40px;
}

#buttons {

    text-align: center;
    position: relative;
    top: 25px;

}

.searchButton {
    border: solid 1px;
    margin: 0 10px;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #f2f2f2;
    color: #5F6368;
    border-color: #f2f2f2;
    border-radius: 4px;
}


footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    border: solid 1px;
    border-color: #f2f2f2;
    font-size: 14px;
    background-color: #f2f2f2;
    line-height: 25px;
}

#leftFooter {
    padding: 10px 15px;
}

.leftFootLink {
    margin-right: 15px;
    color: #5F6368;
}

#rightFooter {
    padding: 10px 15px;
}

.rightFootLink {
    margin: 0 10px;
    color: #5F6368;
}